<h1>Admin Application Show Page</h1>

<h2>Application Information</h2>
<p>Name: <%= @application.name %></p>
<p>Street Address: <%= @application.street_address %></p>
<p>City: <%= @application.city %></p>
<p>State: <%= @application.state %></p>
<p>Zipcode: <%= @application.zipcode %></p>
<p>Reason for Adoption: <%= @application.reason_for_adoption %></p>
<p>Application Status: <%= @application.status %></p>

<h2>Pets Applied For</h2>
<% @application.pets.each do |pet| %>
  <div id="pet-<%= pet.id %>">
    <p>Name: <%= pet.name %></p>
    <p>Breed: <%= pet.breed %></p>
    <p>Age: <%= pet.age %></p>
    <% if @application.pet_status(pet) == "Pending" %>
      <%= button_to "Accept", "/admin/applications/#{@application.id}", method: :patch, params: { pet_id: pet.id, status: "Accepted"} %>
      <%= button_to "Reject", "/admin/applications/#{@application.id}", method: :patch, params: { pet_id: pet.id, status: "Rejected"} %>
    <% else %>
      <p><%= @application.pet_status(pet) %></p>
    <% end %>
  </div>
<% end %>




